# MTK connectivity .rc configure

on post-fs-data
    mkdir /data/vendor/stp_dump 0755 system system
    mkdir /data/vendor/connsyslog 0755 system system

on boot

# WMT
service wmt_loader /vendor/bin/wmt_loader
    class early_hal
    user system
    group system
    oneshot

service wmt_launcher /vendor/bin/wmt_launcher -p /vendor/firmware/ -o 1
    class early_hal
    user system
    group system

