on early-init
    # boot perf. tune
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_min_freq 2000000
    write /sys/devices/system/cpu/cpufreq/policy6/scaling_min_freq 2200000
    write /sys/class/devfreq/mtk-dvfsrc-devfreq/userspace/set_freq 5500000000

on property:init.svc.vendor.charger=running
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_min_freq 0
    write /sys/devices/system/cpu/cpufreq/policy6/scaling_min_freq 0
    write /sys/class/devfreq/mtk-dvfsrc-devfreq/userspace/set_freq 0
    
    # Keep one LITTLE and one big
    write /sys/devices/system/cpu/cpu1/online 0
    write /sys/devices/system/cpu/cpu2/online 0
    write /sys/devices/system/cpu/cpu3/online 0
    write /sys/devices/system/cpu/cpu4/online 0
    write /sys/devices/system/cpu/cpu5/online 0
    write /sys/devices/system/cpu/cpu7/online 0

on property:vendor.all.modules.ready=1
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_governor "sugov_ext"
    write /sys/devices/system/cpu/cpufreq/policy0/sugov_ext/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpufreq/policy0/sugov_ext/down_rate_limit_us 20000

    write /sys/devices/system/cpu/cpufreq/policy6/scaling_governor "sugov_ext"
    write /sys/devices/system/cpu/cpufreq/policy6/sugov_ext/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpufreq/policy6/sugov_ext/down_rate_limit_us 20000

on init
    write /sys/devices/platform/soc/11270000.ufshci/clkgate_enable 0
    write /proc/sys/kernel/sched_util_clamp_min_rt_default 0

    # boot perf. tune
    write /dev/cpuctl/system/cpu.uclamp.min 100
    write /dev/cpuctl/system/cpu.uclamp.latency_sensitive 1
    write /dev/cpuctl/system-background/cpu.uclamp.min 100
    write /dev/cpuctl/system-background/cpu.uclamp.latency_sensitive 1
    write /dev/cpuctl/foreground/cpu.uclamp.min 100
    write /dev/cpuctl/foreground/cpu.uclamp.latency_sensitive 1
    write /dev/cpuctl/top-app/cpu.uclamp.min 100
    write /dev/cpuctl/top-app/cpu.uclamp.latency_sensitive 1
    write /dev/cpuctl/background/cpu.uclamp.min 100
    write /dev/cpuctl/background/cpu.uclamp.latency_sensitive 1

on property:sys.boot_completed=1
    write /sys/devices/platform/soc/11270000.ufshci/clkgate_enable 1
    write /proc/sys/kernel/sched_migration_cost_ns 200000

    # restore boot perf. tune
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_min_freq 0
    write /sys/devices/system/cpu/cpufreq/policy6/scaling_min_freq 0
    write /sys/class/devfreq/mtk-dvfsrc-devfreq/userspace/set_freq 0
    write /dev/cpuctl/system/cpu.uclamp.min 0
    write /dev/cpuctl/system/cpu.uclamp.latency_sensitive 0
    write /dev/cpuctl/system-background/cpu.uclamp.min 0
    write /dev/cpuctl/system-background/cpu.uclamp.latency_sensitive 0
    write /dev/cpuctl/foreground/cpu.uclamp.min 0
    write /dev/cpuctl/foreground/cpu.uclamp.latency_sensitive 0
    write /dev/cpuctl/top-app/cpu.uclamp.min 0
    write /dev/cpuctl/top-app/cpu.uclamp.latency_sensitive 0
    write /dev/cpuctl/background/cpu.uclamp.min 0
    write /dev/cpuctl/background/cpu.uclamp.latency_sensitive 0
